.map {
    height: 200px;
    width: 100%;
}

IMG.displayed {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 30px;
    height: 30px 
}