<!doctype html>
<html lang="en">
<head>
    {% block head %}
    {% block meta %}
    <meta charset="utf-8">
    {% endblock %}
    <title>{% block title%}Yacht{% endblock %}</title>
    {% block css %}
    <link href="{{ url_for('static', path='/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', path='/map/leaflet.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', path='/yacht.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% include "navbar.html" %}
        {% endblock %}
    </header>
    <main role="main">
        {% block main %}
        {% include "main.html" %}
        {% endblock %}
    </main>
    <footer class="text-muted">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
    </footer>
    {% block script %}
    <script>
        var telemetry_url = "{{ telemetry_url }}";
        var control_url = "{{ control_url }}";
        var telemetry_period = {{ telemetry_period }};
    </script>
    <script src="{{ url_for('static', path='/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='/map/leaflet.js') }}"></script>
    <script src="{{ url_for('static', path='/yacht.js') }}"></script>
    {% endblock %}
</body>
</html>
